
/*中间内容部分*/

.mainContent{
    width:100%;
}

/*左侧菜单部分开始*/
.leftPanel{
    width:31%;
}
.leftContent{
    float: right;
    width:2.4rem;
    margin-right:-0.04rem;
}

.leftPanel .current a{
    color: #3c3f40;
    font-size: 0.22rem;
    font-weight: 500;
    color: #3c3f40;
    border-bottom:solid 1px #3c3f40;
}
.leftPanel h3 a{
    display: block;
    cursor: pointer;
    line-height: 0.64rem;
    margin-top:0.3rem;
    cursor: pointer;
    font-size: 0.22rem;
    font-weight: 300;
    color: #a3a9ac;
    border-bottom: solid 1px #ccd1d4;
}

/*左侧菜单部分结束*/


/*右侧内容部分开始*/
.rightPanel{
    width:68.8%;
    border: solid 1px #dfe3e6;
    border-right:none;
    background:#fff;
}
.userInfoWrap>div{
    margin-bottom:0.3rem;
    margin-left: 0.86rem;
}
.userInfoWrap>div:last-child{
    margin-bottom:2.22rem;
}
.userInfoWrap>div>label{
    width:1.8rem;
    float: left;
    line-height: 0.5rem;
    font-size:0.2rem;
    font-weight: 300;
}
.userInfoWrap .portrait{
    margin-top:1.04rem;
    margin-bottom:0.6rem;
}
.portrait img{
    width:1.5rem;
    height: 1.5rem;
}
.userInfoWrap>div>input[type=text]{
    width:2.18rem;
    height: 0.48rem;
    outline: none;
    float: left;
    padding:0 0.3rem;
    color: #3c3f40;
    font-size:0.20rem;
    border: solid 1px #dfe3e6;
}
.userInfoWrap>div>input[type=button]{
    width: 1.56rem;
    height: 0.40rem;
    border-radius: 2px;
    background-color: #82aaff;
    color: #5b76cd;
    font-size: 0.24rem;
    border: none;
    outline: none;
}
/*右侧内容部分结束*/


/*中间内容部分*/









